        </div>
        <footer class="footer">
          <div class="container">
            <p class="text-muted">&copy; YelpCamp 2017 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a></p>
          </div>
        </footer>
    </body>
</html>