        </div><!-- /.container -->
        <footer class="footer">
          <div class="container">
            <p class="text-muted">&copy; YelpCamp 2017 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a></p>
          </div>
        </footer>
        <!-- jQuery CDN -->
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <!-- Custom JS for search feature -->
        <script src="/scripts/search.js" async defer></script>
        <!-- Bootstrap JS CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>